<div class="side-bar-header">
    <h1 class="nickname">
        aaa
    </h1>
    <h1 class="create-room">
        チャットを作成する
    </h1>
</div>

<div class="rooms">
  <div class="room">
    <div class="room-name">
      <a href="#">techroom1</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">techroom2</a>
    </div>
  </div>
</div>